html {
  height: 100%;
  width: 100%;
}
.fundo-com-mar {
    background: lightblue 
    no-repeat fixed center; 
    
}


#mudar-Tema-de-fundo{
    margin-left:130px;
}

body{
    background-color:red;
}

details{
    color:yellow;
}