html {
  height: 100%;
  width: 100%;
}

body{
    background-color:red;
}

.fundo-com-mar {
    background: lightblue 
    no-repeat fixed center;  
}

#mudar-Tema-de-fundo{
    margin-left:130px;
    border:none!important;
    background: transparent;
}

details{
    color:yellow;
}